* {
    color: white;
}
.title {
    font-size: 30px;
    font-family: Consolas, monaco, monospace;
    margin-left: 45px;
    margin-top: 30px;
}
.items {
    padding: 25px;
    display: grid;
}
@media (min-width: 860px) {
    .items {
        grid-template-columns: 50% 50%;
    }
}
@media (max-width: 859px) {
    .items {
        grid-template-columns: auto;
    }
}
.project1 {
    padding: 1rem;
    border: 5px;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    margin: 1rem;
}
.project2 {
    padding: 1rem;
    border: 5px;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    margin: 1rem;
}
.project3 {
    padding: 1rem;
    border: 5px;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    margin: 1rem;
}
.project4 {
    padding: 1rem;
    border: 5px;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    margin: 1rem;
}
.project5 {
    padding: 1rem;
    border: 5px;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    margin: 1rem;
}
.project6 {
    padding: 1rem;
    border: 5px;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    margin: 1rem;
}
.project7 {
    padding: 1rem;
    border: 5px;
    border-color: white;
    border-radius: 10px;
    border-style: solid;
    margin: 1rem;
}
.openbt {
    color: black;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 10px;
}
