html, body {
    height: 100%; /* Ensure the body takes up the full height of the viewport */
}
body {
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: black;
}
a {
    text-decoration: none;
  }

  #logo {
    width: 120px;
    height: 120px;
    position: absolute;
    right: 0;
    top: 0;
}

@media (max-width: 600px) {
	#logo {
		width: 85px;
    height: 85px;
	}
}

footer {
    position: relative; /* Changed from fixed to relative */
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: rgb(255, 0, 85);
    text-align: center;
    padding-top: 10px;
}