@media (max-width: 400px) {
    #title {
        font-size: 45px;
        margin-top: 30%;
    }
}

@media (min-width: 1200px) {
    #title {
        font-size: 100px;
        margin-top: 10%;
        margin-bottom: 10%;
    }
}

@media (min-width: 400px) and (max-width: 736px) {
    #title {
        font-size: 75px;
        margin-top: 30%;
    }
}

@media (min-width: 736px) and (max-width: 1200px) {
    #title {
        font-size: 85px;
        margin-top: 15%;
    }
}

@media (min-width: 736px) and (max-width: 1099px) {
    #par1 {
        margin-left: 40px;
        position: relative;
    }
}

@media (max-width: 737px) {
    #par1 {
        margin-left: 20px;
    }
}

@media (min-width: 1100px) {
    #par1 {
        margin-left: 90px;
        top: 300px;
        position: absolute;
    }
}

#title {
    color: #9acd32;
    transform: rotate(0deg);
    font-family: Consolas, monaco, monospace;
    margin-left: 5%;
    margin-right: 5%;
}

#par1 {
    color: #e70992;
    font-family: Consolas, monaco, monospace;
    margin-top: 0px;
    margin-bottom: 0px;
}

#link {
    margin-top: 200px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.link-item {
    flex: 40%;
}

#project {
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: black;
    border: 5px;
    border-color: rgb(255, 19, 19);
    border-style: solid;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.project {
    flex: 100%;
}

#about {
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: black;
    border: 5px;
    border-color: rgb(255, 21, 21);
    border-style: solid;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

#article {
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: black;
    border: 5px;
    border-color: rgb(255, 12, 12);
    border-style: solid;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

#other {
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    background-color: black;
    border: 5px;
    border-color: rgb(255, 20, 20);
    border-style: solid;
    color: rgb(255, 0, 0);
    text-decoration: none;
}

@media (min-width: 1100px) {
    #link {
        margin-top: 400px
    }
}

@media (min-width: 950px) {
    #link {
        position: relative;
        bottom: 5rem;
    }
}

@media (max-width: 519px) {
    .link-item {
        flex: 100%;
    }
}